<div id=person>
  <h2><%= @user_name %></h2>
  <ul>
    <li>Email: <%= @info[:email] %></li>
    <li>Interests: <%= @info[:interests].join(", ") %></li>
  </ul> 
</div>

<div id=other user links>
  <h5>Others</h5>
  <% @users.each do |name, _| %>
    <% next if name == @user_name %>
    <li><a href="/<%= name %>"><%= name %></a></li>
  <% end %>
</div>
